<section>
    <table>
        <thead>
            <tr>
                <th>Mon panier rempli de bonnes choses</th>
            </tr>
        </thead>
        <tbody>
            <h3 *ngIf="products.length==0">Votre panier est vide !</h3>
            <tr *ngFor="let product of products">
                <td>{{product.titre}}</td>
                <td>{{product.prix}}€</td>
                <td><button (click)="onProductRemoved(product)">Retirer du panier</button></td>
            </tr>
        </tbody>
    </table>
</section>
